<div class="card note">
	<div class="inner info">
		<h2><%- card.primaryInfo %></h2>
	</div>
	<div class="inner content">
		<h1 class="title"><%- card.title %></h1>
		<p class="content"><%- card.content %></p>
	</div>
</div>