	</div><!-- Closes div.content -->
</body>
<footer><!-- This section is the same on every page -->
	<!-- This includes any legal bits and simple site navigation (little to no CSS) -->
</footer>
</html>