<header><!-- This section is the same on every page -->
	<!-- This includes any site navigation & other similar -->
	<nav>
		<a href="./index.html">Index</a>
		<a href="./gettingStarted.html">Getting Started</a>
		<a href="./cardOverview.html">Card Overview</a>
		<a href="./turnOverview.html">Turn Overview</a>
		<a href="./boardZones.html">Board Zones</a>
	</nav>
</header>