<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="./styles/sitewide.css">

	<script src="./scripts/jquery_3_7_1.js"></script>
	<script src="./scripts/index.js"></script>

	<title>Index</title>
</head>
<%- include("./header.ejs"); %>
<body>

	<div id="content">