<!----------------------------------------------
	PLEASE REFERENCE THE "INFO.txt" FILE
	FOR INFORMATION ABOUT THE GENERAL PURPOSE
	OF EACH FILE. THANKS!
----------------------------------------------->

<header><!-- This section is the same on every page -->
	<!-- This includes any site navigation & other similar -->
	<nav class="bg-dark text-white row">
		<a class="p-3 text-white col-md-2 btn btn-dark text-center" href="/">Home</a>
		<a class="p-3 text-white col-md-2 btn btn-dark text-center" href="/starter-guide">Starter Guide</a>
		<a class="p-3 text-white col-md-2 btn btn-dark text-center" href="/quiz">Quiz</a>
		<a class="p-3 text-white col-md-2 btn btn-dark text-center" href="/decks">Decks</a>
		<a class="p-3 text-white col-md-2 btn btn-dark text-center" href="/dictionary">Dictionary</a>
	</nav>
	
</header>