<%- include("./partials/head.ejs"); %>

<!-- This is where this page's content goes -->

<!-- This is just filler content to briefly explain the purpose of this page -->
<h1>Card Overview</h1>
<p>This page is the "hub" for all the card info.</p>
<p>These are things like:</p>
<ul>
	<li>Different card types</li>
	<li>How to read a card</li>
	<li>Basic card interactions</li>
</ul>


<%- include("./partials/foot.ejs"); %>