<%- include("./partials/head.ejs"); %>

<!-- This is where this page's content goes -->

<!-- This is just filler content to briefly explain the purpose of this page -->
<h1>Getting Started</h1>
<p>This page is a quick list of links to the resources/info a player needs to know to play the game.</p>
<p>These are things like:</p>
<ul>
	<li>What happens on a turn</li>
	<li>How to read a card</li>
	<li>Common key words</li>
</ul>


<%- include("./partials/foot.ejs"); %>