<!----------------------------------------------
	PLEASE REFERENCE THE "INFO.txt" FILE
	FOR INFORMATION ABOUT THE GENERAL PURPOSE
	OF EACH FILE. THANKS!
----------------------------------------------->

<!-- Includes the partial "HTML"/ejs from the specified file -->
<%- include("./partials/head.ejs"); %>

<h2>Oops! Looks like there was an error. Not sure how that happened...</h2>

<!-- Includes the partial "HTML"/ejs from the specified file -->
<%- include("./partials/foot.ejs"); %>