<%- include("./partials/head.ejs"); %>

<!-- This is where this page's content goes -->
	
<div class="row">
	<div class="col-sm p-4">
		<!-- This is just filler content to briefly explain the purpose of this page -->
		<h3>Board Zones</h3>
		<p>This is some filler text and should be replaced with something that introduces the topic and gets the reader interested in learning more.</p>
	</div>
	<div class="col-sm-5 p-4" style="border:1px solid black">
		<div class="container">
			<h3>Library</h3>
			<p>The “library” is a fancy term for your deck. These are the cards that you haven’t drawn yet. Usually, you won’t know what card(s) are coming next. This is where you draw your cards from (such as during the beginning phase of each of your turns).</p>
		</div>
		<div class="container">
			<h3>Hand</h3>
			<p>Your “hand” is the group of cards that you can play (typically held in your hand). By default, your maximum hand size is 7 (the most cards you can have in your hand at the end of your cleanup step).</p>
		</div>
		<div class="container">
			<h3>Battlefield</h3>
			<p>The battlefield is where the action of the game takes place. Any cards on the table (that aren’t in one of the other zones) are all on the battlefield. There are a lot of effects that are triggered by permanents entering and leaving the battlefield.</p>
			<p>One of the big distinctions to know about the battlefield is between “control” and “own”. You’ll often hear the term “your battlefield” in reference to the permanents you control even though there’s only one battlefield.</p>
		</div>
		<div class="container">
			<h3>Graveyard</h3>
			<p>The graveyard is best compared to a discard pile. It’s where your cards go once their effects have been resolved or when they leave the battlefield (for permanents). The biggest difference between the graveyard and a discard pile is that cards often come back from the graveyard and are used again. There are also several cards that play off of the graveyard such as based on the number of cards your opponent(s) have in their graveyard(s).</p>
		</div>
		<div class="container">
			<h3>Exile</h3>
			<p>Exile is the zone where nothing touches the card. There are two cases where a card is put into exile.</p>
			<ol>
				<li>To permanently remove the card from the game.</li>
				<li>*You'll often see this after a card is cast from the graveyard.</li>
				<li>To hold a card temporarily until a specific trigger happens.</li>
				<li>*This trigger is always defined as the card is put into exile.</li>
				<li>*Sometimes this “trigger” is as simple as, it just immediately comes back. While other triggers are more typical such as with the suspend ability (when there are no time counters left on it). There are also some cases where the trigger is when the player decides to do something with it (usually cast).</li>
				<li>*Multiple triggers can be placed on a card in exile. This is usually seen as, “... is put into exile until end of turn. The player may cast the exiled card for as long as it remains in exile.”</li>
				<li>*Unless otherwise specified, a card returning from exile goes to the controlling player’s graveyard. Though, it is very common for cards to return to the battlefield or to a player’s hand.</li>
			</ol>
		</div>
	</div>
</div>


<%- include("./partials/foot.ejs"); %>