<%- include("./partials/head.ejs"); %>

<!-- This is where this page's content goes -->

<!-- This is just filler content to briefly explain the purpose of this page -->
<h1>Index</h1>
<p>This is the home page where little to no explanations are provided, but links provide easy access to the full explanations</p>
<p>Goals of the home page:</p>
<ol>
	<li>Quick & simple access to basic resources</li>
	<li>Easy access to new content for returning users</li>
	<li>Brief intro to catch visitors' attention & get them interested & excited to learn more</li>
</ol>


<%- include("./partials/foot.ejs"); %>