<!----------------------------------------------
	PLEASE REFERENCE THE "INFO.txt" FILE
	FOR INFORMATION ABOUT THE GENERAL PURPOSE
	OF EACH FILE. THANKS!
----------------------------------------------->

<!-- Includes the partial "HTML"/ejs from the specified file -->
<%- include("./partials/head.ejs"); %>

<div class="row">
	<div class="col-sm-2 pl-4">
		<h3>Welcome!</h3>
		<p>This is the home page where little to no explanations are provided, but links provide easy access to the full explanations</p>
		<p>Goals of the home page:</p>
		<ol>
			<li>Quick & simple access to basic resources</li>
			<li>Easy access to new content for returning users</li>
			<li>Brief intro to catch visitors' attention & get them interested & excited to learn more</li>
		</ol>
	</div>
	<div class="col-sm-2 pl-4" style="border:1px solid black">
		<h3>Getting Started!</h3>
		<p>Et adipisicing enim officia dolor elit nulla consequat velit id deserunt cupidatat nisi exercitation voluptate in dolor laborum voluptate. Irure magna in in exercitation enim aliquip veniam non exercitation ut dolore est eiusmod magna ullamco id pariatur. Aute ut est incididunt qui anim esse dolore ad aliquip dolore in occaecat consequat esse nostrud culpa aliquip nisi. Est consequat voluptate esse non fugiat elit pariatur ex sunt velit.</p>
	</div>
	<div class="col-sm-2 pl-4" style="border:1px solid black">
		<h3>What's Next?</h3>
		<p>Fugiat veniam sit reprehenderit pariatur adipisicing sed laboris sit aliquip eiusmod ad laboris exercitation est. Amet nisi et labore quis id deserunt ullamco nostrud culpa dolor voluptate occaecat in. Pariatur aliquip amet nostrud commodo elit nulla sint magna. Est irure minim excepteur incididunt culpa ad eiusmod adipisicing irure fugiat dolor laborum fugiat cillum commodo deserunt. Reprehenderit esse laboris id proident ad anim velit esse laborum.</p>
	</div>
</div>


<!-- Includes the partial "HTML"/ejs from the specified file -->
<%- include("./partials/foot.ejs"); %>