/* This file is for global (sitewide) attributes.
 * If you need to change something that only affects a specific page, then use/make a separate CSS file.
 * 
 * This is to keep file sizes smaller and help with organization.



 * We are using mobile-first design. This means it needs to work first on a small screen (by width), then extra css is applied as the viewport width crosses certain points.

 * We are utilizing Bootstrap (CSS & JS) and Popper
 */

/* Extra Small <576px Width*/
nav a:hover {
	font-weight: bold;
	text-decoration: none;
}

/* Small >=576px Width*/
@include media-breakpoint-up(sm) {

}

/* Medium >=768px Width*/
@include media-breakpoint-up(md) {

}

/* Large >=992px Width*/
@include media-breakpoint-up(lg) {

}

/* X-Large >=1200 Width*/
@include media-breakpoint-up(xl) {

}

/* XX-Large >=1400px Width*/
@include media-breakpoint-up(xxl){

}

/*styles the side navigation bar*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(49, 49, 49);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: rgba(255, 0, 0, 0.781); /*edit the color of nav when highlighted*/
	font-weight: bold;
	text-decoration: none;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }

  .sidenav .closebtn:hover{
	cursor: pointer;
  }
  
  .openNav{
	font-size:20px;
	cursor:pointer; 
	margin-left:20px;
	padding-top: 12px;
	padding-right:10px
	
  }
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
